/*sharks\src\app\components\layout\Tela_ADM\Tela_ADM.css*/

.Corpo_ADM
{
    padding-top: 30px;
    padding-left: 120px;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}