/* sharks\src\app\styles\Cadastro_Produto.css */

h2
{
    font-size: 1.2em;
}

.Lista_Cadastro li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.Botao_Radio
{
    display: inline;
    align-self: center;

}

.Arrumacao_Botao
{
    display: flex;
    gap:10px;
    padding-right: 42px;
}

.Valor_Venda
{
    font-weight: 100;
    padding-right: 38px;
}

.Exibir_Valor_Venda
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Conteudo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.Box
{
    margin: 0 auto;
}

.SKU_Bloco 
{
    width: 50%;
    min-height: 50px;        
}

.SKU_Bloco_Interno
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-self: center;

}

.SKU_Bloco_Interno button
{
    margin: 10px;
}

.Salvar
{
    justify-self: center;
}

.Tela_Adm form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Salvar {
    display: block;
    margin: 20px auto;
}
