/* sharks\src\app\styles\Cadastro_Produto.css */

h2
{
    font-size: 1.2em;
}

.Lista_Cadastro li
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.Botao_Radio
{
    display: inline;
    align-self: center;

}

.Arrumacao_Botao
{
    display: flex;
    gap:10px;
    padding-right: 42px;
}

.Valor_Venda
{
    font-weight: 100;
    padding-right: 38px;
}

.Exibir_Valor_Venda
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}